@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Particle background */
#particle-bg {
    background-color: #000;
    height: 100vh;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

/* Styling for when user scrolls down */
.navbar.sticky {
    padding: 15px 0;
    background: #fff;
}

.navbar.sticky .logo a,
.navbar.sticky .menu a,
.navbar.sticky .menu-btn {
    color: #111;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    transition: color 0.3s ease;
}


/* Style each tab */
.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

/* Change color of tab when hovered on */
.navbar .menu li a:hover,
.navbar .logo a:hover {
    color: crimson;
}

/* Highlight key words */
.highlight {
    background: rgba(255, 230, 0, 0.5);
    padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
}

/* Menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Style scroll up btn */
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}



/* Begin styling of home content */
.home .home-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
    margin: 10px 0;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 10px 0;
}

.home .home-content .text-3 span {
    color: crimson;
}


/* All section stying */
section {
    padding: 100px 0;
}

.about, .interests, .skills, .coding-projects, .contact, footer  {
    font-family: 'Poppins', sans-serif;
}

/* Put img and text side by side */
.about .about-content, 
.interests .interest-content, 
.skills .skills-content,
.contact .contact-content  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Add line below the title */
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}


section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* Add --who am i-- */
.about .title::after {
    content: "who am i?";

}

.about .about-content .left {
    width: 45%;   
}

/* Img styling */
.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;   
}

/* My name */
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

/* About me text */
.about .about-content .right p {
    text-align: justify;
}

/* Download resume button style */
.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

/* Interests section styling */
.interests, .coding-projects {
    color: #fff;
    background: #111;
}

/* Make line white in '--what i like-- */
.interests .title::before,
.coding-projects .title::before {
    background: #fff;

}

/* Make background black */
.interests .title::after,
.coding-projects .title::after {
    background: #111;
    content: "what i like";
}

/* Style each card */
.interests .interest-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}

.interests .interest-content .card:hover {
    background: crimson;
}

.interests .interest-content .card .box {
    transition: all 0.3s ease;
}

/* Make text big when hovering over the cards */
.interests .interest-content .card:hover .box {
    transform: scale(1.05);
}

.interests .interest-content .card i {
    font-size: 50px;
    color: crimson;   
    transition: all 0.3s ease;
}

.interests .interest-content .card:hover i {
    color: #fff;
}

.interests .interest-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Skills section styling */
.skills .title::after {
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

/* Placing skills and percentages next to each other */
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}


.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

/* Styling the line */
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

/* Filling the lines according to percentage ranking */
.skills-content .right .comfortable,
.skills-content .right .familiar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    /* margin-bottom: 25px; */
}

.skills-content .right .comfortable-text,
.skills-content .right .familiar-text {
    text-align: center;
    font-size: 20px;
}


/* Teams section styling */
.coding-projects .title::after {
    content: "what i built";
}


/* Style each card */
.coding-projects .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

/* Change color on hover */
.coding-projects .carousel .card:hover {
    background: crimson;
}

.coding-projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.coding-projects .carousel .card:hover .box {
    transform: scale(1.05);
}

.coding-projects .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Style the image */
.coding-projects .carousel .card img {
    height: 125px;
    width: 125px;
    object-fit: cover;
    transition: all 0.3s ease;
}
/* 
.teams .carousel .card:hover img {
    border-color: #fff;
} */

.coding-projects .carousel .box .tech-used-sorting,
.coding-projects .carousel .box .tech-used-active,
.coding-projects .carousel .box .tech-used-job,
.coding-projects .carousel .box .links {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.coding-projects .carousel .box .links .see-live a {
    display: inline-block;
    background: #fff;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 8px;
    /* margin-top: 10px; */
    border-radius: 6px;
    margin-right: 10px;
    /* border: 2px solid crimson; */
    transition: all 0.3s ease;
}

/* .teams .carousel .box .links a:hover {
    color: white;
    background: none;
} */

.coding-projects .carousel .box .tech-used-sorting img, 
.coding-projects .carousel .box .tech-used-active img,
.coding-projects .carousel .box .tech-used-job img,
.coding-projects .carousel .box .links img {
    height: 48px;
    width: 48px;
}

/* .teams .carousel .box .links .github img {
    cursor: pointer;
} */

.coding-projects .carousel .card a {
    text-decoration: none;
    color: #fff;
}

/* Style the dots for going through the carousel */
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}


/* Change width and border radius on click */
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson!important;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

/* Style contact section */
.contact .title::after {
    content: "get in touch";

}

.contact .contact-content .column {
    width: calc(50% - 30px);

}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content:flex-start;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}


/* Style header */
.contact .contact-content .info .head {
    font-weight: 500; 
}

.contact .contact-content .info .sub-title {
    color: #333;
}

/* Display forms next to each other */
.contact .right form .fields {
    display: flex;
}


.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}


.contact .right form .textarea {
    height: 140px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

/* Style text area */
.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

/* Style send message button */
.contact .right form .button {
    height: 47px;
    width: 170px;
}

/* Send message button */
.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: crimson;
    background: none;

}

/* Style alert */
.contact .right .alert {
    text-align: center;
    padding: 10px;
    background-color: lightgreen;
    margin-bottom: 10px;
    display: none;
}

/* Style footer section */
footer {
    background: #111;
    padding: 20px 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}





/* Start responsive media queries */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }

}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
    
}


@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    } 
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    /* Toggle x button before (let it be the first child before the hamburger icon. */
    .menu-btn i.active::before {
        color: #111;
        content: "\f00d";
    }
    
    .navbar .menu {
        position: fixed;
        height: 40vh;
        width: 100%;
        left: -100%; /* hide from screen */
        top: 0;
        background: #fff;
        text-align: center;
        padding-top: 50px;
        transition: all 0.3s ease;
    }

    /* .navbar .menu a {
        color: #111;
    } */

    /* Display dropdown when clicked via toggleClass("active"). */
    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block; 
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 5px 0;
        font-size: 20px;
        color: #111;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }
    
    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
    }

    /* Take up all horizonal space */
    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    /* Take up the whole space */
    .about .about-content .right {
        flex: 100%;
    }

    /* Media queries for cards */
    .interests .interest-content .card  {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }
    
    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .interests .interest-content .card  {
        width: 100%
    }

    .about .about-content .right .text {
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    /* .max-width {
        padding: 0 23px;
    } */

    .home .home-content .text-2 {
        font-size: 50px;
    }
    
    .home .home-content .text-3 {
        font-size: 27px;
    }
}


